body {
  background-color: #fdf8f7;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.banner {
  background-color: #f8f9fa;
  height: 18%;
  border-radius: 30px;
  text-align: center;
}

.logo {
  height: 80%;
  padding-top: 10px;
}

.content {
  padding: 0 10%;
}

.bold {
  font-weight: 900;
}
